<!-- Input Output Decorator -->
<!-- <div class="container">
  <p class="display-4">
    Hello Angular
    Value form Child : {{ childValue }}
  </p>

  <app-user [title]="title" (childEvent)="handleEvent($event)">
    <h1>{{title}}</h1>
  </app-user>
</div> -->

<!-- <input type="text" [(ngModel)] ="title">

<button class="btn btn-success" (click) = "onToggle()">Toggle Life Cycle Comp</button>

<div class="container" *ngIf="bool">
  <app-life-cycle-demo [title] = "title"></app-life-cycle-demo>
</div> -->

<div class="container">
  <!-- <app-observable-demo></app-observable-demo> -->

  <p class="display-4 text-center">
    Counter : {{ counter }}
  </p>

  <hr>
  <div class="btn-group">
    <button class="btn btn-primary" (click)="onIncrease()">Increase</button>
    <button class="btn btn-success" (click)="onDecrease()">Decrease</button>
    <button class="btn btn-dark" (click)="onAdd(10)">Add</button>
    <button class="btn btn-info" (click)="onSubtract(5)">Subtract</button>
  </div>
  <hr>

  <button class="btn btn-block btn-outline-info" (click) = "onStore()">
    Store Result
  </button>
</div>
